/* ANIMACION DE NOTIFICACIONES Y ALERTAS AM 10/11/2021 */
.mie{
  bottom{}
}
*, *:before, *:after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}
body{background:blue;line-height:1.5;font-family:sans-serif;text-transform:uppercase;font-size:16px;color:#fff}
a{text-decoration:none;color:#fff}
#header{background: rgba(255, 255, 255, 0.363);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.3px);
-webkit-backdrop-filter: blur(2.3px);;width:100%;position:relative}
#header:after{content:"";clear:both;display:block}
.search{float:right;padding:30px}
input{border:none;padding:10px;border-radius:20px}
.logo{float:left;padding:26px 0 26px}
.logo a{font-size:28px;display:block;padding:0 0 0 20px}
nav{float:right;}
nav>ul{float:left;position:relative}
nav li{list-style:none;float:left}
nav .dropdown{position:relative}
nav li a{float:left;padding:35px}
nav li a:hover{background:#2C3E50}
nav li ul{display:none}
nav li:hover ul{display:inline}
nav li li{float:none}
nav .dropdown ul{position:absolute;left:0;top:100%;background:#fff;padding:20px 0;border-bottom:3px solid #34495e}
nav .dropdown li{white-space:nowrap}
nav .dropdown li a{padding:10px 35px;font-size:13px;min-width:200px}
nav .mega-dropdown{width:100%;position:absolute;top:100%;left:0;background:#fff;overflow:hidden;padding:20px 35px;border-bottom:3px solid #34495e}
nav li li a{float:none;color:#333;display:block;padding:8px 10px;border-radius:3px;font-size:13px}
nav li li a:hover{background:#bdc3c7;background:#FAFBFB}
.mega-col{width:25%;float:left}
#menu-icon{position:absolute;right:0;top:50%;margin-top:-12px;margin-right:30px;display:none}
#menu-icon span{border:2px solid #fff;width:30px;margin-bottom:5px;display:block;-webkit-transition:all .2s;transition:all .1s}
@media only screen and (max-width: 1170px) {
  nav >ul>li >a{padding:35px 15px}
}
@media only screen and (min-width: 960px) {
  nav{display:block!important}
}
@media only screen and (max-width: 959px) {
  nav{display:none;width:100%;clear:both;float:none;max-height:400px;overflow-y:scroll}
  #menu-icon{display:inline;top:45px;cursor:pointer}
  #menu-icon.active .first{transform:rotate(45deg);-webkit-transform:rotate(45deg);margin-top:10px}
  #menu-icon.active .second{transform:rotate(135deg);-webkit-transform:rotate(135deg);position:relative;top:-9px;}
  #menu-icon.active .third{display:none}
  .search{float:none}
  .search input{width:100%}
  nav{padding:10px}
  nav ul{float:none}
  nav li{float:none}
  nav ul li a{float:none;padding:8px;display:block}
  #header nav ul ul{display:block;position:static;background:none;border:none;padding:0}
  #header nav a{color:#fff;padding:8px}
  #header nav a:hover{background:#fff;color:#333;border-radius:3px}
  #header nav ul li li a:before{content:"- "}
  .mega-col{width:100%}
}
body {
 
    cursor:none;
 }
 body{
 margin: 0;
 padding: 0;
 font-family: dolce vita;
 text-align: center;
 color:#0c0b38;
 overflow-y: auto;
 }
.overlay{ 
 z-index: 1;
 position: fixed;
 height: 100vh;
 width: 100vw;
 top: 0;
 left: 0;
 background: #5F9EA0;
 display: flex;
 justify-content: center;
 align-content: center;
 flex-wrap: wrap
}
.content{  
 position: fixed;
 height: 100%;
 width: 100%;
 top: 0;
 left: 0;
 background-image:url("https://user-images.githubusercontent.com/106701602/214144255-7c446f5a-443c-409f-b53c-b21134674741.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: auto;
 color: FFFF99;
 display: flex;
 justify-content: center;
 align-content: flex-start;
 flex-wrap: wrap;
}
h2{ 
 margin: 20px 0 0 0;
 width: 100%;
 font-size:3em;
 color:white;
}
h3{  
 margin: 0;
 width: 100%;
 margin-bottom: 10px;
 font-size:3em;
 color:white;
}
iframe{ 
 padding: 10px;
 background: #5F9EA0;
 border-radius: 15px;
}
.svgCont{ 
 width: 15%;}
 
svg{
 width: 100%;
 height: auto;
 }
 
#spinner{  
 animation: spinner 0.7s linear infinite;
 transform-origin: center;
}
@keyframes spinner{ 
 0%{
   transform: rotate(0deg);
   stroke: #ff0000 ;}
 50%{
   transform: rotate(180deg);
   stroke: #800080 ;}
 100%{
   transform: rotate(360deg);
   stroke: #ff0000;}
}
.load{
 margin: 0;
 padding: 0;
 width: 100%;}

span{
 padding: 0;
 margin: 0;
 animation: loading 4s linear infinite;
 opacity: 0;}
span:nth-child(3){
 padding: 0 5px 0 0;}
span:nth-child(4){
 padding: 0 0 0 5px; }
span:nth-child(2), span:nth-child(5){
 animation: loading 4s linear infinite 1s;}
span:nth-child(1), span:nth-child(6){
 animation: loading 4s linear infinite 2s;}
 
@keyframes loading{
 0%,50%,100%{
   opacity: 0}
 20%{
   opacity: 1
   }
}
#mouse {
    width:75px; 
    position: absolute;
    float: left;
  }
  *{
   cursor: hidden; 
  }
  /***************
|  MESSAGEBOX  |
***************/

messagebox {
    position: fixed;
    z-index: 1;
    visibility: hidden;
  
    padding: 16px;
    min-width: 250px;
    width: 200px;
    min-height: 1em;
    height: auto;
  
    right: 20px;
    top: 80px;
  
    background-image: linear-gradient(0deg, rgba(34,193,195,0.43461134453781514) 0%, rgba(65,45,253,0.5214460784313726) 100%),
     url(https://user-images.githubusercontent.com/106701602/214283243-f489a951-18c3-47fe-9b7d-5ac3e4bdbf4b.jpeg);  
    background-position:cover;
    color: white;
    box-shadow: 3px 3px 10px #DDDDDD;
  
  background-repeat: no-repeat;
    text-align: center;
    border-radius: 5px;
    background-position-x: center;
    background-position-y: 20%;
background-attachment: auto ;
    background-size: auto;
}
  
  messagebox.show {
    visibility: visible;
  
    -webkit-animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
    animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
  }
  
  /************
  |  EFFECTS  |
  ************/
  
  /* Fade In */
  
  @-webkit-keyframes fadeIn {
    from {right: 0; opacity: 0;} 
    to {right: 20px; opacity: 1;}
  }
  
  @-moz-keyframes fadeIn {
    from {right: 0; opacity: 0;} 
    to {right: 20px; opacity: 1;}
  }
  
  @-o-keyframes fadeIn {
    from {right: 0; opacity: 0;} 
    to {right: 20px; opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {right: 0; opacity: 0;} 
    to {right: 20px; opacity: 1;}
  }
  
  /* Fade Out */
  
  @-webkit-keyframes fadeOut {
    from {right: 20px; opacity: 1;} 
    to {right: 0; opacity: 0;}
  }
  
  @-moz-keyframes fadeOut {
    from {right: 20px; opacity: 1;} 
    to {right: 0; opacity: 0;}
  }
  
  @-o-keyframes fadeOut {
    from {right: 20px; opacity: 1;} 
    to {right: 0; opacity: 0;}
  }
  
  @keyframes fadeOut {
    from {right: 20px; opacity: 1;}
    to {right: 0; opacity: 0;}
  }
  
